body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 655px;
}

/* Top (start) */
.top {
  background-color: #1f2937;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-part {
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero {
  margin-bottom: 30px;
  width: 450px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9f1f8;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

.header-links {
  display: flex;
  align-content: center;
  gap: 25px;
}

.logo {
  font-size: 24px;
  font-weight: 550;
  color: #f9faf8;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-image {
  height: 250px;
  width: 550px;
  min-width: 225px;
}

.hero-button {
  border-radius: 9px;
  border: none;
  margin-top: 15px;
  padding: 8px 30px;
  background: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
/* Top (end) */
/* Information (start) */
.information {
  padding-bottom: 80px;
}

.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-top: 50px;
  margin-bottom: 50px;
}

.illustrations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.info-image {
  height: 180px;
  width: 180px;
  border: 4px solid #3882f6;
  border-radius: 25px;
}

.box {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-subtext {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #6e6e6e;
  margin-top: 5px;
  width: 170px;
}
/* Information (end) */
/* Quote (start) */
.quote {
  background-color: #e5e7eb;
  padding: 150px 200px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 48px;
  font-weight: 300;
  color: #1f2937;
  width: 60%;
}

.quote-ref {
  font-weight: bold;
  font-size: 28px;
  color: #1f2937;
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
/* Quote (start) */
/*  Sign-up and Footer (start) */
.sign-up {
  padding-left: 350px;
  padding-right: 350px;
}

.container {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 48.5px 150px;
  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sign-up-text {
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.sign-up-subtext {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

.container-button {
  border-radius: 9px;
  border: 2px solid white;
  padding: 8px 30px;
  background: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  background-color: #1f2937;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  Sign-up and Footer (end) */
